html {
  font-size: 62.5%;
}
:root{
    --azul: #031d44;
    --preto: #28293e;
    --amarelo: #ffb61d;
    --branco: #fff8ce;
}

body {
  margin: 0;
  height: 100vh;
  font-family: "Montserrat", sans-serif;
  background-image: radial-gradient(ellipse at 0 0, var(--branco), var(--amarelo));
}
#wrapper {
  width: 90%;
  max-width: 134rem;
  margin: auto;
}
header {
  padding: 5rem 0;
}
h1 {
  font-size: 6.6rem;
}
h1 strong {
  text-transform: uppercase;
  color: brown;
}
main {
  display: flex;
  gap: 2rem;
}
main > * {
  flex: 1 0 0;
}
.upper {
  text-transform: uppercase;
}
form {
  display: flex;
  gap: 1rem;
}
form input {
  padding: 1rem;
  border-radius: 6px;
  font-family: inherit;
  border: 1px solid var(--preto);
  outline: none;
}
form input[type="submit"] {
  background-color: var(--azul);
  color: white;
}
form input[type="text"] {
  background-color: transparent;
}
form input[type="text"]::placeholder {
  color: var(--preto);
}
.animation {
  position: relative;
}
.animation img {
  position: absolute;
}
.animation img:nth-child(1) {
  top: 15rem;
  left: 1rem;
  animation: topleft 2s infinite alternate;
}
.animation img:nth-child(2) {
  right: -1rem;
  top: 2rem;
  animation: topleft 3s 0.5s infinite alternate;
}
.animation img:nth-child(3) {
  right: -1rem;
  top: 1rem;
  animation: topleft 3s 0.5s infinite alternate;
}
.animation img:nth-child(4) {
  left: 14rem;
  bottom: -20rem;
  animation: topleft 2s infinite alternate;
}
.animation img:nth-child(5) {
  left: 13rem;
  top: -5rem;
  animation: topleft 2.5s infinite alternate;
}
.animation img:nth-child(6) {
  right: 0;
  bottom: -10rem;
  animation: topleft 2.5s infinite alternate;
}
@keyframes topleft {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(-1rem, -3rem);
  }
}
